{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="h4 mb-3">Login</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">E-Mail</label>
                        <input type="email" name="_username" value="{{ last_username }}" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Passwort</label>
                        <input type="password" name="_password" required class="form-control">
                    </div>
                    <button class="btn btn-primary">Anmelden</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
