{% extends 'base.html.twig' %}
{% block title %}Vokabeln{% endblock %}
{% block body %}
<h1>Vokabeln</h1>
<table class="table table-striped">
    <thead><tr><th>Wort</th><th>Übersetzung</th></tr></thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.word }}</td>
            <td>{{ entry.translation }}</td>
        </tr>
    {% else %}
        <tr><td colspan="2">Keine Vokabeln vorhanden.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
